@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,100&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}
img{
    width: 300px;
    height: 300px;
}


/* Header NAV */
.header{
    background-color: #1F2937;
    width: 100%;
    height: 500px;
    color: #e5e7eb;
    
}
.nav{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    height: 48px;
    font-size: 18px;
    padding: 18px 128px 18px 128px;
    align-items: center;
    display: flex;
    margin-bottom: 16px;
}
.nav .nav-img{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav .nav-img .logo-img{
    width: 32px;
    height: 32px;
    margin-right: 8px;
    margin-top: 8px;
}
.nav .nav-img h3{
    font-size: 24px;
    height: 100%;
}
.nav .nav-links{
    display: flex;
    justify-content: flex-end;
    gap: 32px;
    width: 100%;
    align-items:flex-start;
    height: 100%;
    padding-top: 8px;
}
.nav .nav-links .link{
    height: 100%;
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;

}
.nav .nav-links .link:hover{
    cursor:pointer;
}

/* Header Content*/
.header-content{
    padding: 54px 130px 54px 130px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
.header-content .side-content-txt{
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: flex-start;
    text-align: left;
}
.header-content .side-content-txt h1{
    font-size: 48px;
    font-weight: 900;
}
.header-content .side-content-txt p{
    font-size: 18px;
}
.header-content #sgn-header{
    background-color: #3882f6;
    color: #fff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 8px;
    width: 132px;
    height: 40px;
}
.header-content #sgn-header:hover{
    cursor: pointer;
    background-color: #3578e4;
    transform: ease-in 0.2s;

}
.header-content .side-content-img .side-img{
    margin-top: 48px;
    width: 550px;
    height: 250px;
}

/* Product */
.main-product{
    background-color: #fff;
    color:#1F2937;
    width: 100%;
    height: 550px;
    padding: 60px 130px 60px 130px;
}

.main-product h2{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
}

.products{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.product-block{
    text-align: center;
    width: 180px;
    height: 100px;
    padding-top: 48px;
    font-size: 18px;
}

.product-img{
    width: 180px;
    height: 180px;
    border-radius: 18px;
    border: 4px solid #3882f6;
    margin-bottom: 8px;
}

/* Quote */
.main-quote{
    background-color: #e5e7eb;
    color: #1F2937;
    width: 100%;
    height: 550px;
    padding: 200px;
}
.main-quote .quote{
    font-size: 48px;
}
.main-quote .author{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 60px;
}
.main-quote .author h3{
    font-size: 24px;
    padding-right: 60px;
}

/* Action */
.main-action{
    background-color: #fff;
    color:#1F2937;
    padding: 100px 130px 0 130px;
    width: 100%;
    height: 350px;
}
.main-action .action-block{
    background-color: #3882f6;
    color: #e5e7eb;
    display: flex;
    justify-content: space-around;
    height: 150px;
    border-radius: 8px;
    align-items: center;
}
.main-action .action-block .action-info{
    font-size: 18px;
}
.main-action #sgn-action{
    background: none;
    border: 2px solid #fff;
    border-radius: 8px;
    color: #e5e7eb;
    padding: 8px;
    width: 130px;
    font-size: 18px;
    font-weight: bold;
}
.main-action #sgn-action:hover{
    cursor: pointer;
    transition: ease-in 0.2s;
    background-color: rgba(0,0,0,0.1)

}

/* Footer */
.footer{
    background-color: #1F2937;
    height: 100px;
    display: flex;
    color: #e5e7eb;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
