*{
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 300px;
    height: 300px;
}
button{
    background-color: #3882f6;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 2px;
}

/* Header */
.header{
    background-color: #1F2937;
    width: 100%;
    height: 500px;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 48px;
    font-size: 18px;
    color: #e5e7eb;
}
.nav .nav-img{
    width: 150px;
}
.nav .logo-img{
    width: 48px;
    height: 48px;
}
.main-product{
    background-color: #fff;
    color:#1F2937;
}
.main-quote{
    background-color: #e5e7eb;
    color: #1F2937;
}
.main-action{
    background-color: #fff;
    color:#1F2937;
}
.footer{
    background-color: #1F2937;
    height: 100px;
}
